In [1]:
def de_moneyize(money):
    number = money.replace(',','')
    number = number.strip('$')
    return int(number)

In [2]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('data/movies.db')

df_bom_movie_gross = pd.read_sql('''
select *
from bom_movie_gross
''', conn)

df_bom_movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   idx             3387 non-null   int64
 1   title           3387 non-null   object
 2   studio          3382 non-null   object
 3   domestic_gross  3359 non-null   float64
 4   foreign_gross   2037 non-null   object
 5   year            3387 non-null   int64
dtypes: float64(1), int64(2), object(3)
memory usage: 158.9+ KB