# Purpose

Students have the option of using Pandas and SQL to complete this project. A Phase 1 project done completely in pandas, completely in SQL, or a mixture of the two can all be considered a fine Phase 1 project. This notebook serves as a resource for setting up an SQL database for students who wish to use SQL in their Phase 1 project.

**To create the `movies.db` database, run the code cells below.**
> The Entity Relational Diagram is below

In [1]:
from src.make_db import create_movies_db

In [2]:
create_movies_db()

imdb_title_principals table created successfully....
imdb_name_basic table created successfully....
imdb_title_crew table created successfully....
imdb_title_ratings table created successfully....
imdb_title_basics table created successfully....
imdb_title_akas table created successfully....
tn_movie_budgets table created successfully....
tmdb_movies table created successfully....
bom_movie_gross table created successfully....
rotten_tomatoes_critic_reviews table created successfully....
rotten_tomatoes_movies table created successfully....
=========================================================
Inserting data into the imdb_title_crew table....
Inserting data into the tmdb_movies table....
Inserting data into the imdb_title_akas table....
Inserting data into the imdb_title_ratings table....
Inserting data into the imdb_name_basics table....
Inserting data into the rotten_tomatoes_movies table....
Inserting data into the rotten_tomatoes_critic_reviews table....
Inserting data into the imdb_title_basics table....
Inserting data into the tn_movie_budgets table....
Inserting data into the bom_movie_gross table....
Inserting data into the imdb_title_principals table....
=========================================================
Database created successfully!
To connect to the database: open a connection using the path "data\movies.db"

![movies.db schema](images/movies_db_schema.png)

In [12]:
def de_moneyize(money):
    number = money.replace(',','')
    number = number.strip('$')
    return int(number)

In [22]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('data/movies.db')

df_imdb_title_basics = pd.read_sql('''
select *
from imdb_title_basics
''', conn)

df_bom_movie_gross = pd.read_sql('''
select *
from bom_movie_gross
''', conn)

df_tn_movie_budgets = pd.read_sql('''
select *
from tn_movie_budgets
''', conn)

df_tn_movie_budgets['worldwide_gross'] = df_tn_movie_budgets['worldwide_gross'].map(de_moneyize)
df_tn_movie_budgets['production_budget'] = df_tn_movie_budgets['production_budget'].map(de_moneyize)
df_tn_movie_budgets['domestic_gross'] = df_tn_movie_budgets['domestic_gross'].map(de_moneyize)

df_tn_movie_budgets['profit'] = df_tn_movie_budgets['worldwide_gross'] - df_tn_movie_budgets['production_budget']

df_tn_movie_budgets = df_tn_movie_budgets.sort_values('production_budget')

df_bom_movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   idx             3387 non-null   int64
 1   title           3387 non-null   object
 2   studio          3382 non-null   object
 3   domestic_gross  3359 non-null   float64
 4   foreign_gross   2037 non-null   object
 5   year            3387 non-null   int64
dtypes: float64(1), int64(2), object(3)
memory usage: 158.9+ KB