In [1]:
import sqlite3
import pandas as pd
import seaborn as sns

conn = sqlite3.connect('../data/movies.db')

df = pd.read_sql('''
select *
from imdb_title_crew
''', conn)
df.head()

   idx     tconst                      directors              writers
0    0  tt0285252                      nm0899854            nm0899854
1    1  tt0438973                           None  nm0175726,nm1802864
2    2  tt0462036                      nm1940585            nm1940585
3    3  tt0835418                      nm0151540  nm0310087,nm0841532
4    4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   idx        146144 non-null  int64
 1   tconst     146144 non-null  object
 2   directors  140417 non-null  object
 3   writers    110261 non-null  object
dtypes: int64(1), object(3)
memory usage: 4.5+ MB

In [3]:
df.fillna('None', inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   idx        146144 non-null  int64
 1   tconst     146144 non-null  object
 2   directors  146144 non-null  object
 3   writers    146144 non-null  object
dtypes: int64(1), object(3)
memory usage: 4.5+ MB

In [4]:
df.to_csv(path_or_buf = '../data/cln_imdb_title_crew.csv')